* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body, html {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  /* text-align: center */
  /* background-image: url('Image Background Blue Minimal Phone Wallpaper.png'); */
}

h1, h2, h3, h4, label, p, ol {
  color: #000;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin-top: 20px;
}

.navbar-custom {
  background-color: rgb(99, 131, 131);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.navbar-header {
  margin: 0px 30px 0px 30px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pages {
  background-size: cover;
  height: 100vh;
  color: white;
}


.button {
  display: flex;
  flex-direction: row;
  padding: 3px;
  gap: 5px;
}

.footer {
  /* display: flex; */
  background-color: rgb(99, 131, 131);
  /* padding: 2rem 0; */
  text-align: center;
  position: fixed;
  left: 0;
  bottom:0;
  width:100%;
}

.footer .text-muted {
  color: #6c757d;
}

.well {
  display: flex;
  flex-direction: row;
}

.well .well_2 {
  display: flex;
  flex-direction: column;
}

.comment-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
}

.navbar {
  position: fixed;
}

/* Base styles for the navbar menu */
#navbarMenu {
  display: none;
  position: absolute;
  top: 0px; /* Adjust this value to position the menu below the navbar-toggler */
  left: 50;
  width: 100px; /* Adjust the width as needed */
  background-color: rgb(99, 131, 131); /* Match the navbar color */
  flex-direction: column; /* Arrange items vertically */
  padding: 5px;
  border: 1px solid #ccc; /* Optional: Add border for visual separation */
}

#navbarMenu.show {
  display: flex;
}

/* Ensure the toggler remains in position */
.navbar-toggler {
  position: relative;
  z-index: 1;
}

.navbar-custom {
  position: relative;
}

.row {
  margin-bottom: 8rem;
}

.aboutTitle {
  text-align: center;
  padding: 5px;
}

.aboutContext {
  text-align: justify;
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}

/* Styles for smaller screens */
@media screen and (min-width: 480px) {
  .navbar-toggler {
    display: block !important;
  }

  .navbar {
    width: 100%;
  }

  .navbar-header {
    margin: 0px 50px 0px 50px;
    gap: 20px;
  }

 }

/* Styles for larger screens */
@media screen and (min-width: 768px) {
  .navbar-toggler {
    display: none !important;
  }

  #navbarMenu {
    display: flex !important;
    flex-direction: row;
    position: relative;
    border: none;
  }

  #navbarMe.show {
    display: none;
  }

  .navbar-header {
    margin: 0px 50px 0px 50px;
  }

  .nav {
    gap: 12px;
  }

}

@media screen and (min-width: 1024px) {
  .navbar-toggler {
    display: none !important;
  }

  #navbarMenu {
    display: flex !important;
    flex-direction: row;
    position: relative;
    border: none;
  }

  #navbarMenu.show {
    display: none;
  }

  .navbar-header {
    margin: 0px 100px 0px 100px;
  }

  .nav {
    gap: 15px;
  }

}
