<%# <footer>3pleBlog &copy; 2024</footer> %>
<!-- app/views/layouts/_footer.html.erb -->
<footer class="footer mt-auto py-5">
  <div class="container">
    <span class="text-muted">3pleBlog &copy; 2024.</span>
  </div>
</footer>
