<nav class="navbar navbar-default d-flex navbar-custom m-0" style="width: 100%;">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">3pleBlog</a>
    <div id="navbar bg-primary">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', home_path, class: 'nav-link text-decoration-none' %></li>
        <li><%= link_to 'CreatePost', new_post_path, class: 'nav-link text-decoration-none' %></li>
      </ul>
    </div>
  </div>
</nav>
